{% extends "::frontend.html.twig" %}

{% block nav %}
    <nav class="menu">
        <ul>
            <li><a href="{{ path('staticpage', { 'page': 'contacto'}) }}">Contacto</a></li>
            <li><a href="{{ path('staticpage', { 'page': 'acceso-usuarios'}) }}">Acceso usuarios</a></li>
            <li><a href="{{ path('staticpage', { 'page': 'empresas'}) }}">Empresas</a></li>
            <li><a href="{{ path('staticpage', { 'page': 'comunidades'}) }}">Comunidades</a></li>
            <li><a href="{{ path('staticpage', { 'page': 'aseguradoras'}) }}">Aseguradoras</a></li>
            <li><a href="{{ path('homepage') }}">Inicio</a></li>
        </ul>
        <div class="clear"> </div>
    </nav>

    <div class="clear"> </div>
{% endblock %}
    
{% block footer %}
    <div id="companyinfo">
        Copyright © Evolta Gestión de Servicios, S.L.
        <br /><br />
        Powered by <img alt="NEWAY" style="vertical-align:top;" src="/images/_neway_black.png"/>
    </div>

    <div id="contactinfo">
        Contacto
        <br /><br />
        Tel: 949 20 38 68<br />
        Email: correo@evolta.es
    </div>

    <div class="clear"> </div>
{% endblock %}