{% extends "::base.html.twig" %}

{% block header %}

    {% include 'FrontendBundle:Default:_login.html.twig' %}

    <a id="link_logo_header" href="{{ path('homepage') }}" alt="Evolta Gestión de Servicios"><img id="logo_header" src="/images/logo.png"/></a>
    <div class="clear"> </div>

{% endblock %}
    
{% block col_left %}

    <h1>{{ menu }}</h1>
    
    {# incluir knb menu #}
    
    <nav class="menu">
        <ul class="bmenu">
            
            {#
            <li{% if menu == "home" %} class="menuactive" {% endif %}>
                <a href="{{ path('staticpage', { 'page': 'homepage'}) }}">{{ 'menu.home' | trans }}</a>
            </li>
            #}
            <li{% if menu == "general" %} class="menuactive" {% endif %}>
                <a href="{{ path('staticpage', { 'page': 'general'}) }}">{{ 'menu.general' | trans }}</a>
            </li>
            <li{% if menu == "servicios" %} class="menuactive_withsubmenus" {% endif %}>
                <a href="{{ path('staticpage', { 'page': 'empresas'}) }}">{{ 'menu.servicios' | trans }}</a>
                
                {% if menu == "servicios" %}
                    <ul>
                        <li{% if submenu == "empresas" %} class="menuactive" {% endif %}>
                            <a href="{{ path('staticpage', { 'page': 'empresas'}) }}">{{ 'menu.servicios.empresas' | trans }}</a>
                        </li>
                        <li{% if submenu == "comunidades" %} class="menuactive" {% endif %}>
                            <a href="{{ path('staticpage', { 'page': 'comunidades'}) }}">{{ 'menu.servicios.comunidades' | trans }}</a>
                        </li>
                        <li{% if submenu == "aseguradoras" %} class="menuactive" {% endif %}>
                            <a href="{{ path('staticpage', { 'page': 'aseguradoras'}) }}">{{ 'menu.servicios.aseguradoras' | trans }}</a>
                        </li>
                        <li{% if submenu == "particulares" %} class="menuactive" {% endif %}>
                            <a href="{{ path('staticpage', { 'page': 'particulares'}) }}">{{ 'menu.servicios.particulares' | trans }}</a>
                        </li>
                    </ul>
                {% endif %}
                
            </li>
            <li{% if menu == "presupuestos" %} class="menuactive" {% endif %}>
                <a href="{{ path('staticpage', { 'page': 'presupuestos'}) }}">{{ 'menu.presupuestos' | trans }}</a>
            </li>
            <li{% if menu == "contacto" %} class="menuactive" {% endif %}>
                <a href="{{ path('staticpage', { 'page': 'contacto'}) }}">{{ 'menu.contacto' | trans }}</a>
            </li>
            <li{% if menu == "legal" %} class="menuactive" {% endif %}>
                <a href="{{ path('staticpage', { 'page': 'legal'}) }}">{{ 'menu.legal' | trans }}</a>
            </li>
        </ul>
    </nav>

{% endblock %}
    
{% block footer %}

    <div id="contactinfo">
        <strong>Contacto</strong><br />
         902 20 38 68<br />
        correo@evolta.es
    </div>
    
    <div id="companyinfo">
        Evolta Gestión de Servicios, S.L.
        <br />
        Pº Castellana 141 - 28046 Madrid
        <br />
        ® 2008 Todos los derechos reservados
    </div>

    <div class="clear"> </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var login = function() {
        $('#link-acceso-usuarios').click(function(){
            $('#login-container').toggleClass('hover-login');
            $('#link-acceso-usuarios').blur();
            $('#link-acceso-usuarios span').toggleClass('hide');
            $('#form-login').toggleClass('hide');
            return false;
        });
    }
    $('#login-container').blur(function(){ login(); });
    login();
</script>
{% endblock %}