<ul class="menu_mobi">
    {#<li><a href="{{ path('homepage') }}">Inicio</a></li>#}
    <li><a href="{{ path('staticpage', { 'page': 'nosotros'}) }}">Nosotros</a></li>
    <li><a href="{{ path('staticpage', { 'page': 'empresas'}) }}">Empresas</a></li>
    <li><a href="{{ path('staticpage', { 'page': 'comunidades'}) }}">Comunidades</a></li>
    <li><a href="{{ path('staticpage', { 'page': 'aseguradoras'}) }}">Aseguradoras</a></li>
    <li><a href="{{ path('staticpage', { 'page': 'particulares'}) }}">Particulares</a></li> 
    <li><a href="{{ path('staticpage', { 'page': 'contacto'}) }}">Contacto</a></li>
</ul>